.cart {
    position: fixed;
    top: 0;
    width: 360px;
    right: -100%;
    min-height: 100vh;
    padding: 20px;
    background: var(--container-color);
    box-shadow: -2px 0 4px hsla(0, 4%, 15%, 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
}

.cart.active {
    right: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-content {
    max-height: 60vh;
    overflow-y: auto;
}

.empty-cart {
    text-align: center;
    padding: 2rem;
    color: var(--text-color);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.total-price {
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
}

.btn-buy {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    background: var(--container-color);
    color: var(--bg-color);
}

.cart-remove {
    font-size: 24px;
    cursor: pointer;
    color: var(--main-color);
}

