header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 4px hsla(0, 0%, 98%, 0.1);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.menu a:hover,
.menu a.active {
    color: var(--main-color);
}

.search {
    margin-right: 30px;
}

.search-input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: var(--text-color);
    font-size: 14px;
    width: 150px;
}

.search-button {
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #ff5555;
}

.logo {
    font-size: 1.1rem;
    color: var(--bg-color);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

#cart-icon {
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
}

#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: var(--text-color);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-icon[data-quantity="0"]::after {
    display: none;
}

